/*- NavBar -*/
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.navbar ul li {
  display: inline-block;
  padding-left: 15%;
}

.navbar ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Courier;
  font-size: 20px;
}

.navbar ul li a:hover {
  background-color: #333;
  color: #00ccff;
}

/*- Background -*/

body {
  background: url(../Pictures/black-and-white-bridge-cargo-ship-346895.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100%;
}

/*- Contact Page -*/

.form {
  text-align: center;
  margin-top: 10px;
  background-color: #333;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Courier;
  width: 80%;
  position: absolute;
}

.formcontent {
  background-color: #8c8c8c;
}

.formcontent input {
  width: 60%;
  font-family: Courier;
  margin-top: 10px;
}

.formcontent .formbutton {
  width: 10%;
  font-family: Courier;
  color: #00ccff;
  text-align: center;
}

.formcontent .formbutton input {
  text-align: center;
}
